@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead"><img src="~/Content/Images/auto.jpg" /></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent-A-Car</h2>
        <p>
            Bij ons staan betrouwbaarheid en hoge kwaliteit hoog in het vaandel. Door enkel jonge en betrouwbare auto's van topmerken te verhuren gaan wij voor de hoogste kwaliteit. Bovendien zorgen onze eigen automonteurs ervoor dat elke auto altijd uitstekend onderhouden is.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Rent-A-Car is gevestigd in Almere. Het adres van het wagenpark is Autopad 12, 1335YY ALMERE. Telefoon: (036) 123 45 67
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rent-A-Car Wagenpark</h2>
        <p>Rent-A-Car Autoverhuur is uw autoverhuurbedrijf met een zeer divers wagenpark. Wij hebben een zeer ruim assortiment van kleine personenauto's en grote bestelwagens tot bakwagens. Ons assortiment bestaat uit jonge betrouwbare auto's van topmerken met de hoogste kwaliteit als Audi, BMW, Peugeot, Mercedes , Rolls-Royce en Volkswagen.</p>
    </div>
</div>